/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #fff;
  display: block;
}

/* Catalog */
.catalog {
  display: flex;
  flex-direction: column;
  padding: 20px 160px;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

.catalog-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.breadcrumbs {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}

.breadcrumbs__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  list-style: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 0;
}

.breadcrumbs__link,
.breadcrumbs p {
  color: #876363;
  text-decoration: none;
}

.breadcrumbs__link--current {
  color: #171212;
  pointer-events: none;
  cursor: default;
}

.catalog-header__title h1 {
  color: #171212;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  padding: 16px;
}

.filter-buttons {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
}

.filter-buttons__button {
  display: flex;
  height: 32px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #f5f0f0;
  border-radius: 8px;
  border: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

/* Product Section */
.product-section__title {
  padding: 16px 16px 8px 16px;
  width: 100%;
  box-sizing: border-box;
}

.product-section__title h2 {
  color: #171212;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}

.product-section__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

.product-card {
  display: flex;
  width: 223px;
  padding-bottom: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.product-card__picture {
  border-radius: 8px;
  overflow: hidden;
  height: 297px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.product-card__title {
  color: #171212;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.product-card__price {
  color: #876363;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* Pagination */
.pagination {
  display: flex;
  padding: 16px;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.pagination__button {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: none;
  color: #171212;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
  padding: 0;
}

.pagination__button img {
  width: 18px;
  height: 18px;
}

.pagination__button--current {
  background: #f5f0f0;
  border-radius: 20px;
}
